<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :article %>
    <%= form.text_area :article, id: :post_article %>
  </div>

  <div class="field">
    <%= form.label :likes %>
    <%= form.number_field :likes, id: :post_likes %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <!--%= form.number_field :status, id: :post_status %-->
    <%= form.select :status, Post.statuses.keys, selected: @post.status %>
  </div>

  <div class="field">
    <%= form.label :author_id %><br>
    <!--%= form.select :author_id, Author.statuses.keys, selected: @post.status %-->
    <%= form.select :author_id,
        options_for_select(Author.all.collect {|a| ["#{a.lname},
        #{a.fname}", a.id]},
        selected: (@post.author ? @post.author.id : Author.first.id)),
        {} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
